.container{
  background-image: url(../img/book.jpg);
  height: 500px;
  width: 100%;  /*this will make the div take 100% of the full content*/
}

.container img {
 width: 100%;  /*this will make the image that is inside the div to take 100% of the div*/
}


.hey{

  background-color: green;
}
