.body {
	font-family: Open Sans;
}

.wrapper {
	width: 650px;
	margin-left: auto;
	margin-right:auto;
	font: Open Sans;
}

a {
	color: #000000;
}
.h2 {
	font-size: 40px;
	font: Open Sans;
}

.p {
	font: Roboto;
	font-size: 18px;
}

.cat_links {
	display: block;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	margin-bottom: 5px;
	background-color: #DCDCDC;
	color: #000000;	
	text-decoration: none;	
	font: Open Sans;
}

.cat_links: hover {
	background-color: #808080;
}

.font {
	font: Open Sans;
}
#content{
	background-color: none;
    width: 700px;
    height: 700px;
    border: 1px solid #c3c3c3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left:20px;
}

.headingcat{
	font-size: 22px;
	padding-bottom: 10px;
}

